<style>
html * {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}
.top-table {
  width: 100%;
  text-align: justify;
}

table.top-table td {
  padding-right: 3em;
}

tr.spaceUnder > td{
  padding-bottom: 3px;
}

.line-separator{
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;
}

table.item-table {
  border-collapse: collapse;
  width: 100%;
  page-break-inside: avoid;
}

table.item-table th {
  border: 1px solid black;
  padding: 10px;
}

table.item-table td {
  border: 1px solid black;
  padding: 10px;
}

table.item-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.contents {
  page-break-inside: avoid;
  width: 100%;
}

table.contents {
  width: 40%;
}

.table_one {
  float: left;
}

#contents {
  page-break-inside: avoid;
  width: 100%;
}

table#table_one {
  width: 55%;
}

table#table_two {
  width: 40%;
}

#table_one {
  float: left;
}

table#table_one:first-child {
  margin-right: 5%;
}

.table-with-image {
  margin-top:5%;
  page-break-inside: avoid;
}

#image {
  float:right;
  margin-top:1em;
}

#table-image {
  float:left;
  border: 1px solid black;
  width: 75%;
  word-wrap:break-word;
  table-layout: fixed;
  page-break-inside: avoid;
}
</style>

<meta charset="utf-8" />
<table class="top-table">
  <colgroup>
    <col style="width:50%"/>
    <col style="width:50%"/>
  </colgroup>
  <tr class="spaceUnder">
    <td>
      <b>DATOS EMISOR</b>
    </td>
    <td>
      <b>Factura V 3.2</b>
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">Nombre: </b> PORCICOLA MUMA SPR DE RL DE CV
    </td>
    <td>
      <b style="display: block;">CFDI de Ingreso - SERIE / Nro Interno:<b>
      <b style="font-size: 25px;">FACT / 9515FACT007006</b>
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">RFC: </b> PMU0607209A4
    </td>
    <td>
      <b style="display: block;">Folio fiscal: </b> 8dbfb179-df99-477c-a5b0-b82cc095791b
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">Domicilio Fiscal: </b> Calle: AV. JUAREZ No. 444 OTE. INT. 24-A
      No.:  <br> Colonia: CENTRO Ciudad: 
      <br> Estado: COAHUILA DE ZARAGOZA CP: 27000
    </td>
    <td>
      <b style="display: block;">Certificado SAT:</b> 00001000000300091673
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
    </td>
    <td>
      <b style="display: block;">Certificado del emisor:</b> 00001000000404600952
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b>DATOS RECEPTOR</b>
    </td>
    <td>
      <b style="display: block;">Lugar, fecha y hora de emisión:</b> TORREÓN, COAHUILA DE ZARAGOZA 2017-02-28T13:16:22
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">Nombre: </b> QUESERIA DOS LAGUNAS, S.P.R. DE R.L. DE C.V.
    </td>
    <td>
      <b style="display: block;">Régimen fiscal:</b> REGIMEN DE ACTIVIDADES AGRICOLAS, GANADERAS, SILVICOLAS Y PESQUERAS
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">RFC: </b> QDL790104TX1
    </td>
    <td>
      <b style="display: block;">Fecha y hora de certificación:</b> 2017-02-28T13:16:25
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">Domicilio Fiscal: </b> Calle: CAMPO 105 516
      No.:  <br> Colonia: CENTRO Ciudad: 
      <br> Estado: CHIHUAHUA CP: 31615
    <td>
      <b style="display: block;">Método de pago/ Nro. cuenta pago:</b> 99
    </td>
  </tr>
</table>

<br>

<table class="item-table">
  <thead>
    <tr>
      <th style='width: 10%;'>Cantidad</th>
      <th style='width: 10%;'>Unidad</th>
      <th style='width: 50%;'>Descripción</th>
      <th style='width: 20%;'>Precio Unitario</th>
      <th style='width: 10%;'>Importe</th>
    </tr>
  </thead>
  <tbody>
    
      <tr>
        <td>
          <span>16388.00</span>
        </td>
        <td>
          <span>LTO</span>
        </td>
        <td>
          <span>134973       LECHE FRIA</span>
        </td>
        <td>
          <span>$6.90</span>
        </td>
        <td>
          <span>$113077.20</span>
        </td>
      </tr>
    
  </tbody>
</table>

<br>

<div id="contents">
  <table frame="box" id="table_one">
    <tr>
      <th>MONTO ESCRITO</th>
    </tr>
    <tr>
      <td style="text-align: center">Ciento trece mil setenta y siete pesos 20/100 MXN</td>
    </tr>
    <tr>
      <th>OBSERVACIÓN</th>
    </tr>
    <tr>
      <td></td>
    </tr>
  </table>
  <table cellspacing="0" cellpadding="0" id="table_two" border=1>
    <tr>
    </tr>
    <tr>
      <td>SUBTOTAL</td>
      <td>$113077.2000</td>
    
      <tr>
        <td>IVA</td>
        <td>$0.00</td>
      </tr>
    
    
    
    <tr>
      <td>TOTAL</td>
      <td>$113077.2000</td>
    </tr>
  </table>
</div>

<div class="table-with-image">
  <img src="http://www.qr-code-generator.com/phpqrcode/getCode.php?cht=qr&chl=%3Fre%3PMU0607209A4%26rr%3DQDL790104TX1%26tt%3D113077.2000%26id%3D8dbfb179-df99-477c-a5b0-b82cc095791b&chs=180x180&choe=UTF-8&chld=L|0"
    alt="codigoQR" width="200px" height="200px"/ id="image">

  <table id="table-image" class="bottom-table">
     <caption align="bottom"><b>ESTE DOCUMENTO ES UNA REPRESENTACIÓN IMPRESA DE UN CFDI</b></caption>
      <tr class="spaceUnder">
        <td style="text-align: center;">
          <b>Sello digital del CFDI</b>
        </td>
      </tr>
      <tr class="spaceUnder">
        <td style="font-size: 11px !important;">
          FZGWktfMb1+yuYZpOANInFRPamTAMgsz/w+Nyqf+IwsKJhoiNeU4vrcix/wRCGhbSBAs5sK+gZ+vN/BbR4d69Pc632X1JylEVxVp5lYKQaWPD9nNyFpo4Elqd6q9jrq+5YdygCWXsIMCt85tecKsEDCCRuieCadKdT3kh7WMtoItolKRnVHhBSjeGGRKwwMmqVyG5hmtRLvluB3nF6R7xDVwQu9wewHjqYibW9u+sCcqvGP0ufXBdu6Eao4w+mooSi6tWZwDCIynAVkIjbk72dw7Kxn+Ajae3ix/5pdVJ1EmNMrEqW3dtuv8GNMGwAfod4THOy0mDjeGw218W1Iycw==
        </td>
      </tr>
      <tr class="spaceUnder">
        <td style="text-align: center;">
          <b>Sello del SAT</b>
        </td>
      </tr>
      <tr class="spaceUnder">
        <td style="font-size: 11px !important;">
          AgCiS4SWbJEIzCcqCF4USYDFp/PMt3b/lLI5Jk7C9JYLU78MHTH8wuMy4mO12vGpDLYjDuXD4huz0k42di24f71F2824J7cdnOK/TmjgjKrpoq/CQwrvMX2hcU302vrLV/6KtWn/sl6DtdTk6M2bUSKFmB68z4fBQ3sJ74iC3nk=
        </td>
      </tr>
      <tr class="spaceUnder">
        <td style="text-align: center;">
          <b>Cadena original del complemento de certificación digital del SAT</b>
        </td>
      </tr>
      <tr class="spaceUnder">
        <td style="font-size: 11px !important;">
          ||1.0|8dbfb179-df99-477c-a5b0-b82cc095791b|2017-02-28T13:16:25|FZGWktfMb1+yuYZpOANInFRPamTAMgsz/w+Nyqf+IwsKJhoiNeU4vrcix/wRCGhbSBAs5sK+gZ+vN/BbR4d69Pc632X1JylEVxVp5lYKQaWPD9nNyFpo4Elqd6q9jrq+5YdygCWXsIMCt85tecKsEDCCRuieCadKdT3kh7WMtoItolKRnVHhBSjeGGRKwwMmqVyG5hmtRLvluB3nF6R7xDVwQu9wewHjqYibW9u+sCcqvGP0ufXBdu6Eao4w+mooSi6tWZwDCIynAVkIjbk72dw7Kxn+Ajae3ix/5pdVJ1EmNMrEqW3dtuv8GNMGwAfod4THOy0mDjeGw218W1Iycw==|00001000000300091673||
        </td>
      </tr>
  </table>
</div>
