<style>
html * {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}
.top-table {
  width: 100%;
  text-align: justify;
}

table.top-table td {
  padding-right: 3em;
}

tr.spaceUnder > td{
  padding-bottom: 3px;
}

.line-separator{
  height:1px;
  background:#717171;
  border-bottom:1px solid #313030;
}

table.item-table {
  border-collapse: collapse;
  width: 100%;
  page-break-inside: avoid;
}

table.item-table th {
  border: 1px solid black;
  padding: 10px;
}

table.item-table td {
  border: 1px solid black;
  padding: 10px;
}

table.item-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.contents {
  page-break-inside: avoid;
  width: 100%;
}

table.contents {
  width: 40%;
}

.table_one {
  float: left;
}

#contents {
  page-break-inside: avoid;
  width: 100%;
}

table#table_one {
  width: 55%;
}

table#table_two {
  width: 40%;
}

#table_one {
  float: left;
}

table#table_one:first-child {
  margin-right: 5%;
}

.table-with-image {
  margin-top:5%;
  page-break-inside: avoid;
}

#image {
  float:right;
  margin-top:1em;
}

#table-image {
  float:left;
  border: 1px solid black;
  width: 75%;
  word-wrap:break-word;
  table-layout: fixed;
  page-break-inside: avoid;
}
</style>

<meta charset="utf-8" />
<table class="top-table">
  <colgroup>
    <col style="width:50%"/>
    <col style="width:50%"/>
  </colgroup>
  <tr class="spaceUnder">
    <td>
      <b>DATOS EMISOR</b>
    </td>
    <td>
      <b>Factura V 3.2</b>
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">Nombre: </b> AF BANREGIO, S.A. DE C.V.,  SOFOM E.R. , BANREGIO GRUPO FINANCIERO.
    </td>
    <td>
      <b style="display: block;">CFDI de Ingreso - SERIE / Nro Interno:<b>
      <b style="font-size: 25px;">MLGLS2 / 154664</b>
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">RFC: </b> ABS841019IK9
    </td>
    <td>
      <b style="display: block;">Folio fiscal: </b> 950CE9E1-6985-49F9-B246-1389B6858750
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">Domicilio Fiscal: </b> Calle: AV. ROMULO GARZA
      No.: 555 <br> Colonia: INDUSTRIAS DEL VIDRIO ORIENTE Ciudad: 
      <br> Estado: N.L. CP: 66470
    </td>
    <td>
      <b style="display: block;">Certificado SAT:</b> 00001000000202865018
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
    </td>
    <td>
      <b style="display: block;">Certificado del emisor:</b> 00001000000201265514
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b>DATOS RECEPTOR</b>
    </td>
    <td>
      <b style="display: block;">Lugar, fecha y hora de emisión:</b> Monterrey, Nuevo León 2015-08-07T10:29:37
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">Nombre: </b> LABINAL DE MEXICO SA DE CV
    </td>
    <td>
      <b style="display: block;">Régimen fiscal:</b> Régimen General de Ley Personas Morales
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">RFC: </b> LME971014PG7
    </td>
    <td>
      <b style="display: block;">Fecha y hora de certificación:</b> 2015-08-07T10:30:07
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">Domicilio Fiscal: </b> Calle: NICOLAS GOGOL
      No.: 11322 <br> Colonia: COMPLEJO INDUTRIAL CHIHUAHUA Ciudad: 
      <br> Estado: CHIHUAHUA CP: 31109
    <td>
      <b style="display: block;">Método de pago/ Nro. cuenta pago:</b> TRANSFERENCIA ELECTRONICA
    </td>
  </tr>
</table>

<br>

<table class="item-table">
  <thead>
    <tr>
      <th style='width: 10%;'>Cantidad</th>
      <th style='width: 10%;'>Unidad</th>
      <th style='width: 50%;'>Descripción</th>
      <th style='width: 20%;'>Precio Unitario</th>
      <th style='width: 10%;'>Importe</th>
    </tr>
  </thead>
  <tbody>
    
      <tr>
        <td>
          <span>1</span>
        </td>
        <td>
          <span>No Aplica</span>
        </td>
        <td>
          <span>Pago del Mes</span>
        </td>
        <td>
          <span>$11192.35</span>
        </td>
        <td>
          <span>$11192.35</span>
        </td>
      </tr>
    
  </tbody>
</table>

<br>

<div id="contents">
  <table frame="box" id="table_one">
    <tr>
      <th>MONTO ESCRITO</th>
    </tr>
    <tr>
      <td style="text-align: center">Doce mil novecientos ochenta y tres pesos 13/100 MXN</td>
    </tr>
    <tr>
      <th>OBSERVACIÓN</th>
    </tr>
    <tr>
      <td></td>
    </tr>
  </table>
  <table cellspacing="0" cellpadding="0" id="table_two" border=1>
    <tr>
    </tr>
    <tr>
      <td>SUBTOTAL</td>
      <td>$11192.35</td>
    
      <tr>
        <td>IVA</td>
        <td>$1790.78</td>
      </tr>
    
    
    
    <tr>
      <td>TOTAL</td>
      <td>$12983.13</td>
    </tr>
  </table>
</div>

<div class="table-with-image">
  <img src="http://www.qr-code-generator.com/phpqrcode/getCode.php?cht=qr&chl=%3Fre%3ABS841019IK9%26rr%3DLME971014PG7%26tt%3D12983.13%26id%3D950CE9E1-6985-49F9-B246-1389B6858750&chs=180x180&choe=UTF-8&chld=L|0"
    alt="codigoQR" width="200px" height="200px"/ id="image">

  <table id="table-image" class="bottom-table">
     <caption align="bottom"><b>ESTE DOCUMENTO ES UNA REPRESENTACIÓN IMPRESA DE UN CFDI</b></caption>
      <tr class="spaceUnder">
        <td style="text-align: center;">
          <b>Sello digital del CFDI</b>
        </td>
      </tr>
      <tr class="spaceUnder">
        <td style="font-size: 11px !important;">
          v6jlSrtnZq6XraRPGU0hwngIh3CHMBO5oFBeC6OOKxQx7VRU6l2mreVoqCvIbAQb4wzqTjZIxUX6ks7TaDmcnsE3tkreAuw2zTmKnKyyzF0Qz0MxjV5i9iigBSQhAFr0jf1fNM6KkWOLYV21QXplPxxL8UN5EEqdAh83Z79llBg=
        </td>
      </tr>
      <tr class="spaceUnder">
        <td style="text-align: center;">
          <b>Sello del SAT</b>
        </td>
      </tr>
      <tr class="spaceUnder">
        <td style="font-size: 11px !important;">
          GMqF7wcssNd8r4LRcboGqBKuqZBcRbQv7GGKY1WCgLk5s1exLjkD8yEiozT/SkPAdN5DxoXL/+ASdrUyZTaNUUPk9tsy7owqL0PJnyyirbLA2c/jKXldXlwREX2/g7Nr3I4Jsox8ezHYJlS+ct7HDQlMux7e8pX7WoAp3rgwF68=
        </td>
      </tr>
      <tr class="spaceUnder">
        <td style="text-align: center;">
          <b>Cadena original del complemento de certificación digital del SAT</b>
        </td>
      </tr>
      <tr class="spaceUnder">
        <td style="font-size: 11px !important;">
          ||1.0|950CE9E1-6985-49F9-B246-1389B6858750|2015-08-07T10:30:07|v6jlSrtnZq6XraRPGU0hwngIh3CHMBO5oFBeC6OOKxQx7VRU6l2mreVoqCvIbAQb4wzqTjZIxUX6ks7TaDmcnsE3tkreAuw2zTmKnKyyzF0Qz0MxjV5i9iigBSQhAFr0jf1fNM6KkWOLYV21QXplPxxL8UN5EEqdAh83Z79llBg=|00001000000202865018||
        </td>
      </tr>
  </table>
</div>
