<%= CfdiToPdf.stylesheets %>
<meta charset="utf-8" />
<table class="top-table">
  <colgroup>
    <col style="width:50%"/>
    <col style="width:50%"/>
  </colgroup>
  <tr class="spaceUnder">
    <td>
      <b>DATOS EMISOR</b>
    </td>
    <td>
      <b>Factura V <%= invoice.fiscal.version %></b>
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">Nombre: </b> <%= invoice.sender.name %>
    </td>
    <td>
      <b style="display: block;">CFDI de <%= String.capitalize(to_string(invoice.cfdi_type)) %> - SERIE / Nro Interno:<b>
      <b style="font-size: 25px;"><%=  invoice.fiscal.series  %> / <%= invoice.fiscal.folio%></b>
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">RFC: </b> <%= invoice.sender.rfc %>
    </td>
    <td>
      <b style="display: block;">Folio fiscal: </b> <%= invoice.signing.uuid %>
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">Domicilio Fiscal: </b> Calle: <%= invoice.sender.street %>
      No.: <%= invoice.sender.number %> <br> Colonia: <%= invoice.sender.neighborhood %> Ciudad: <%= invoice.sender.city %>
      <br> Estado: <%= invoice.sender.state %> CP: <%= invoice.sender.zip_code %>
    </td>
    <td>
      <b style="display: block;">Certificado SAT:</b> <%= invoice.fiscal.sat_certificate%>
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
    </td>
    <td>
      <b style="display: block;">Certificado del emisor:</b> <%= invoice.fiscal.sender_certificate %>
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b>DATOS RECEPTOR</b>
    </td>
    <td>
      <b style="display: block;">Lugar, fecha y hora de emisión:</b> <%= invoice.fiscal.place %> <%= invoice.fiscal.datetime %>
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">Nombre: </b> <%= invoice.recipient.name %>
    </td>
    <td>
      <b style="display: block;">Régimen fiscal:</b> <%= invoice.sender.regime %>
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">RFC: </b> <%= invoice.recipient.rfc %>
    </td>
    <td>
      <b style="display: block;">Fecha y hora de certificación:</b> <%= invoice.fiscal.signing_datetime %>
    </td>
  </tr>
  <tr class="spaceUnder">
    <td>
      <b style="display: block;">Domicilio Fiscal: </b> Calle: <%= invoice.recipient.street %>
      No.: <%= invoice.recipient.number %> <br> Colonia: <%= invoice.recipient.neighborhood %> Ciudad: <%= invoice.recipient.city %>
      <br> Estado: <%= invoice.recipient.state %> CP: <%= invoice.recipient.zip_code %>
    <td>
      <b style="display: block;">Método de pago/ Nro. cuenta pago:</b> <%= invoice.fiscal.payment_information %>
    </td>
  </tr>
</table>

<br>

<table class="item-table">
  <thead>
    <tr>
      <th style='width: 10%;'>Cantidad</th>
      <th style='width: 10%;'>Unidad</th>
      <th style='width: 50%;'>Descripción</th>
      <th style='width: 20%;'>Precio Unitario</th>
      <th style='width: 10%;'>Importe</th>
    </tr>
  </thead>
  <tbody>
    <%= for item <- invoice.items do %>
      <tr>
        <td>
          <span><%= item.quantity %></span>
        </td>
        <td>
          <span><%= item.unit %></span>
        </td>
        <td>
          <span><%= item.description %></span>
        </td>
        <td>
          <span>$<%= item.unit_price %></span>
        </td>
        <td>
          <span>$<%= item.amount %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="contents">
  <table frame="box" id="table_one">
    <tr>
      <th>MONTO ESCRITO</th>
    </tr>
    <tr>
      <td style="text-align: center"><%= (CfdiToPdf.NumberToWord.to_word(invoice.totals.total) |> String.capitalize()) <> " " <> to_string(invoice.fiscal.currency) %></td>
    </tr>
    <tr>
      <th>OBSERVACIÓN</th>
    </tr>
    <tr>
      <td></td>
    </tr>
  </table>
  <table cellspacing="0" cellpadding="0" id="table_two" border=1>
    <tr>
    </tr>
    <tr>
      <td>SUBTOTAL</td>
      <td>$<%= invoice.totals.subtotal %></td>
    <%= for forward <- invoice.forwards do %>
      <tr>
        <td><%= forward.tax_name %></td>
        <td>$<%= forward.tax_total %></td>
      </tr>
    <% end %>
    <%= for retention <- invoice.retentions do %>
      <tr>
        <td>Ret <%= retention.tax_name %></td>
        <td>$<%= retention.tax_total %></td>
      </tr>
    <% end %>
    <%= for local <- invoice.locals do %>
      <tr>
        <td><%= local.tax_name %></td>
        <td>$<%= local.tax_total %></td>
      </tr>
    <% end %>
    <tr>
      <td>TOTAL</td>
      <td>$<%= invoice.totals.total %></td>
    </tr>
  </table>
</div>

<div class="table-with-image">
  <img src="http://www.qr-code-generator.com/phpqrcode/getCode.php?cht=qr&chl=%3Fre%3<%= invoice.sender.rfc %>%26rr%3D<%= invoice.recipient.rfc %>%26tt%3D<%= invoice.totals.total%>%26id%3D<%= invoice.fiscal.id %>&chs=180x180&choe=UTF-8&chld=L|0"
    alt="codigoQR" width="200px" height="200px"/ id="image">

  <table id="table-image" class="bottom-table">
     <caption align="bottom"><b>ESTE DOCUMENTO ES UNA REPRESENTACIÓN IMPRESA DE UN CFDI</b></caption>
      <tr class="spaceUnder">
        <td style="text-align: center;">
          <b>Sello digital del CFDI</b>
        </td>
      </tr>
      <tr class="spaceUnder">
        <td style="font-size: 11px !important;">
          <%= invoice.signing.cfdi %>
        </td>
      </tr>
      <tr class="spaceUnder">
        <td style="text-align: center;">
          <b>Sello del SAT</b>
        </td>
      </tr>
      <tr class="spaceUnder">
        <td style="font-size: 11px !important;">
          <%= invoice.signing.sat %>
        </td>
      </tr>
      <tr class="spaceUnder">
        <td style="text-align: center;">
          <b>Cadena original del complemento de certificación digital del SAT</b>
        </td>
      </tr>
      <tr class="spaceUnder">
        <td style="font-size: 11px !important;">
          ||1.0|<%= invoice.signing.uuid %>|<%= invoice.signing.date %>|<%= invoice.signing.cfdi %>|<%= invoice.signing.sat_number %>||
        </td>
      </tr>
  </table>
</div>
